@{
    ViewData["Title"] = "Home";
}

<div class="container text-center mt-5">
    <h1>Welcome to My Portfolio</h1>
    <p>I'm a student and showing my simple Portfolio.</p>

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ86cwcuZERtoLAhNHzuLgUfYhL6B1_Pmy51A&s" class="img-fluid rounded mt-3" alt="Home Image">

        <p class="mt-3">Explore my portfolio and feel free to contact me!</p>
    
</div>
