@{
    ViewData["Title"] = "About Me";
}

<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-md-4 text-center">
            <img src="https://via.placeholder.com/200" class="rounded-circle img-fluid" alt="Your Photo">
        </div>

        
        <div class="col-md-8">
            <h2>About Me</h2>
            <p>
                Hello! Im Alexis S.Torres a Computer Engineering Student.
                I love doing code and things and happy on my course
            </p>
           
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>📍 Location:</strong> Angeles City, Philippines</li>
                <li class="list-group-item"><strong>🎓 Education:</strong> Angles University Foundation</li>
                <li class="list-group-item"><strong>💻 Skills:</strong> Visual Studio </li>
            </ul>
           
        </div>
    </div>
</div>
